*{
    margin:0px;
    padding:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/*Navigation Bar*/

header{
    display: flex;
    background-color: white;
    /* border: 3px solid #000; */
    height: 80px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b6b1b1 ;
}

.Myntra{
    height: 45px;
    margin-left: 20px;
    margin-top: 10px;
}

.logo{
    magin-left: 4%;
}

.action-bar{
    margin-right: 4%;
}

.nav-bar{
    min-width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar a{
    font-size: 14px;
    text-decoration: none;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    padding: 28px 0;
}
.men:hover{
    border-bottom: 5px solid #ee5f73;
}

.women:hover{
    border-bottom: 5px solid #fb56c1;
}

.kids:hover{
    border-bottom: 5px solid #f26a10;
}

.home:hover{
    border-bottom: 5px solid #f2c210;
}

.beauty:hover{
    border-bottom: 5px solid #0db7af;
}

.genz:hover{
    border-bottom: 5px solid #0db7af;
}

.studio:hover{
    border-bottom: 5px solid #ff3f6c;
}

.nav-bar a sup{
    top: -.4rem;
    font-size: 10px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    text-transform: uppercase;
    color: #ff3f6c;
}

.search-bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
    
}

.search-input{
    background-color: #f5f5f6;
    color:#696e79;
    flex-grow: 1;
    height: 40px;
    border:0;
    border: 0 4px 4px 0;
}

.search-icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color:#282c3f;
    font-weight: 200px;
    border: 4px 0 0 4px;
}

.action-bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Main section*/
/*Banner */
.banner-container{
    margin: 40px 0;
}

.banner-image{
    width: 100%;
}

/*Heading*/

.category-heading{
    text-transform: uppercase;
    color:#3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    max-height: 5em;
    font-weight: 700;
}

/*Category Items*/

.category-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale-item{
    width: 250px;
}


/*Footer*/

.footer-container{
    padding: 30px 0 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}

.footer-column{
    display: flex;
    flex-direction: column;
}

.footer-column h3{
    color:#282c3f;
    font-size:14px;
    margin-bottom:25px;
}

.footer-column a{
    text-decoration:none;
    color:#696b79;
    font-size: 15px;
    padding-bottom: 5px;
}

.copyright{
    color:#94969f;
    text-align: end;
    padding: 15px;
}